name: Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  IMAGE_NAME: bot-cotation
  REGISTRY: registry.digitalocean.com/botcotation
  TAG: ${{ github.run_number }}

jobs:
  build_and_deploy:
    name: Build and Push
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build docker image
      run: docker build . --file Dockerfile --tag ${IMAGE_NAME}:${TAG}

    - name: Push docker image
      run: |
        docker login -u ${{ secrets.DIGITALOCEAN_API_TOKEN }} -p ${{ secrets.DIGITALOCEAN_API_TOKEN }} registry.digitalocean.com
        docker tag ${IMAGE_NAME}:${TAG} ${REGISTRY}/${IMAGE_NAME}:${TAG}
        docker push ${REGISTRY}/${IMAGE_NAME}:${TAG}

    - name: Deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: root
        key: ${{ secrets.DIGITALOCEAN_DROPLET_SSH_PRIVATE_KEY }}
        script: |
          cd ~/bot
          docker login -u ${{ secrets.DIGITALOCEAN_API_TOKEN }} -p ${{ secrets.DIGITALOCEAN_API_TOKEN }} registry.digitalocean.com
          docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
          sed -i "s|image: .*/.*:.*|image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}|" bot-stack.yml
          cat bot-stack.yml
          dockcer images
          docker stack deploy -c bot-stack.yml bot_cotation
